@font-face {
    font-family: 'Plus Jakarta Sans';
    src: URL('../assets/fonts/PlusJakartaSans[wght].ttf') format('truetype');
  }

:root {
    --black: #000929;
    --roxo: #7065F0;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    max-width: 100%;
    font-family: 'Plus Jakarta Sans';
    
    color: var(--black);
    
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(40px);
    padding: 24px 46px 24px 61px;
    align-items: center;
}
.headerContainer{
    align-items: center;
    display: flex;
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo img{
    width: 30px;
    height: 30px;
}
.headerContainer h1{
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
    margin:0 56px 0 9px;
    padding: 0;
}
.headerContainer h3{
    font-size: 16px;
    margin-right: 48px;

    
}
.headerContainer a{
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;

}
.headerContainer select{
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: var(--black);
    margin-right: 51px;
    font-family: 'Plus Jakarta Sans';
    padding-right: 11px;
}
.headerContainer select:focus{
    outline: none;
}

.login{
    margin-right: 16px;
    border: 2px solid #E0DEF7;
    border-radius: 8px;
    color: var(--black);
    padding: 12px 24px;

}
.singUp{
    color: #fff;
    background-color: var(--roxo);
    border-radius: 8px;
    padding: 12px 24px;

}
.menuIcon{
    display: none;
}
/* Hero */
.hero{
    position: relative;
    background: linear-gradient(180deg, #E0DEF7 0%, rgba(224, 222, 247, 0) 100%);
    padding-bottom: 0px;
}
.heroImg{
    position: absolute;
    bottom: 0;
    right: 0;
}
.trustpilot{
    display: flex;
    background-image: url(../assets/img/trust-background.png);
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 24px 25px 0 24px;
    background-repeat: no-repeat;
    height: 156px;    
}
.trustContent{
    width: 116px;
    color: #fff;
}
.trustContent h3{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 18px;
}
.reviews{
    margin-top: 26px;
    font-weight: 400;
    font-size: 14px;
    
}

.bRs{
    margin: 88px 0 0 160px;
}
.bRs h2{
    font-size:64px ;
    font-weight: 700;
    width: 544px;

}
.bRs p{
    margin-top: 21px;
    width: 448px;
    font-weight: 500;
    font-size: 20px;
}
.bRsOptions{
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width:  297px;
    margin-top: 48px;
}
.bRsOptions a{
    text-align: center;
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
    font-weight: 600;
    border-bottom: 4px solid #fff;
}
.bRsOptions a:hover{
    border-bottom: 4px solid var(--roxo);
    color: var(--roxo);
    
}
.bRsLocations{
    padding: 25px 21px 25px 32px ;
    background-color: #fff;
    border-radius: 0 8px 8px 8px;
    display: flex;
    justify-content: space-between;
    width: 783px;
    align-items: flex-start;
    position: relative;
    z-index: 2;
}
.bRsLocations h4{
    margin-bottom: 4px;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 22, 25, 0.7);
}
.bRsLocations span{
    font-size: 18px;
    font-weight: 700;
}
.bRsLocations img{
    margin-left: 18px;
}
.bRsLocations input{
    display: none;
}
.bRsLocations .spacer{
    width:1px ;
    height: 40px;
    background-color: #E0DEF7;
}

.browserButton{
    display: flex;
    align-items: center;
}
.browserButton a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    padding: 16px 32px;
    background-color: var(--roxo);
    text-align: center;
}
.browserButton img{
    display: none;
}
.rP{
    display: flex;
    margin: 56px 0 48px 0;
     
}
.renters{
    margin-right: 80px;
}
.renters h3{
    font-size: 24px;
    font-weight: 700;
    color: var(--roxo);
    margin-top: 24px;
    line-height: 36px;
}
.renters span{
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
}
/* Hero/Manuel Villa */
.manuelContainer{
    width: 270px;
    height: 285px;
    background-color: #fff;
    border-radius: 8px;
    position: absolute;
    top: 13%;
}
.manuelInfo{
    margin: 24px 25px 0 24px;
    display: flex;
    justify-content: space-around;
    
}
.manuelContent{

    font-size: 12px;
    font-weight: 900;
}
.manuelContent h3{
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 900;
    color: var(--black);
}
.manuelContent span{
    line-height: 20px;
    font-size: 12px ;
    font-weight: 500;
    color: var(--black);
    opacity: 0.5;
}
.manuelContent img{
    margin: 0  4px 0 8px;
}


.manuelPicture{
    margin-right: 16px;
    border-radius: 50%;
}
.backgroundAspas{
    width: 32px;
    height: 32px;
    background-color: var(--black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2px ;
}
.manuelComment{
    display: flex;
    justify-content: space-between;
    margin: 24px 25px 24px 24px;
}
.manuelComment p{
    font-size: 12px;
    font-weight: 600;
    width: 173px;
    color: var(--black);
}
.manuelBar{
    border: 1px solid #E5E5E5;
    width: 222px;
    margin: 0 24px 0 24px;
}
.manuelNumbers{
    margin: 24px 35px 24px 24px;
    display: flex;
    justify-content: space-between;
}
.manuelNumbers h3{
    font-size: 20px;
    font-weight: 900;
    color: var(--black);
}
.manuelNumbers span{
    font-size: 12px;
    font-weight: 600;
    color: var(--black);
    opacity: 0.5;
}
.spanMobile{
    display: none;
}
/* About */
.about{
    padding: 100px 160px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    
}
.newHome{
    position: relative;
    background-color: #f7f7fd;
    color: #100a55;
    border: 1.5px solid #E0DEF7;
    border-radius: 8px;
    width: 416px;
    height:100%;
    padding: 40px 67px 248px 40px;
}
.newHome h3{
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 900;
}
.newHome p{
    margin-bottom: 24px;
    font-size: 16px;
    opacity: 0.7;
}
.newHome a{
    border-radius: 8px;
    padding: 10px 16px;
    background-color: #100a55;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-decoration: none;

}
.newHome img{
    position: absolute;
    right: 0;
    bottom: 0;
}
.nHInfoContainer{
    /* margin-left: 68px; */
}
.nHInfo{
    display: flex;
}
.nHInfo:first-child{
    margin-bottom: 68px;
}
.nHProperties{
    margin-right: 24px;
}
.nHProperties h3{
    margin: 24px 0 16px 0;
    color: var(--black);
    font-size: 24px;
    font-weight: 800;
}
.nHProperties p{
    font-size: 16px;
    font-weight: 400;
    color: #4d5461;
    width: 308px;
}
/* Form */
.form{
    padding-top: 64px;
    padding-bottom: 80px;
    text-align: center;
    background: linear-gradient(90deg, rgba(247, 247, 253, 0.5) 0%, #F7F7FD 50.17%, rgba(247, 247, 253, 0.5) 100%);
}
.spam{
    font-size: 14px;
    color:#9EA3AE;
}

.spam h3{
    font-size: 24px;
    font-weight: 800;
    color: var(--roxo);
}
.spam h2{
    font-size: 40px;
    font-weight: 800;
    margin: 8px 0 16px 0;
    color: var(--black);

}
.spam span{
    color: var(--roxo);
}
.spam p{
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
    opacity: 0.5;
}
.spamInputContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top:32px ;
    margin-bottom: 24px;
    width: 543px;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;

}
.spamInputContainer input{
    opacity: 0.5;
    color: var(--black);
    border: none;
}
.spamInputContainer input:focus{
    outline: none;
}
.spamInputContainer button{
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--roxo);
    color: #fff;
    padding: 12px 40px;
    border: none;
    border-radius: 8px;
}
.spamButtonMobile{
    display: none;
}
/* Footer */
.footerLogo{
    display: flex;
    align-items: center;
}



@media only screen and (max-width: 720px) {
    .headerContainer h3{
        display:none;
    
        
    }
    .headerContainer select{
        display:none;
    }
    .login{
        display: none;
    
    }
    .singUp{
        display: none;
    
    }
    header{
        padding: 25px 32px 25px 37px;
    }
    .menuIcon{
        display: block;

    }
    .hero{
        /* position: relative; */
        background: linear-gradient(180deg, #E0DEF7 0%, rgba(224, 222, 247, 0) 100%);
        /* padding-bottom: 0px; */
    }
    .heroImg{
        display: none;
    }
    .trustpilot{
        display: none;
    }
    .bRs{
        text-align: center;
        margin: 48px 24px 0 24px;
        
    }
    .bRs h2{

        font-size: 40px;
        font-weight: 800;
        width: 100%;
    }
    .bRs p{
        width:100%;
        font-size: 20px;
        font-weight: 600;
    }
    .bRsOptions{
        width: 100%;
        margin: 48px 0 0 0;

    }
    .bRsLocations{
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 0 0px 8px 8px;
        width: 100%;
        margin-top: 1px;
        padding: 0;
        padding-left: 16px;
        box-sizing: border-box;
    
    }
    .bRsLocations h4{
        display: none;

    }
    .bRsLocations span{
        display: none;
    }
    .bRsLocations img{
        display: none;
    }
    .bRsLocations input{
        color: #6C727F;
        display: block;
        font-size: 16px;
        font-weight: 500;
        border: none;
    }
    .bRsLocations input:focus{
        outline: none;
    }
    .browserButton{
        margin: 16px;
        width: 48px;
        height: 48px;
        border-radius: 8px;
        background-color: var(--roxo);
    }
    .browserButton a{
        display: none;
    }
    .browserButton img{
        display: flex;
        margin: auto;
    }
    .spacer{
        display: none;
    }
    .rP{
        /* margin: 52px 24px 0 24px; */
        justify-content: space-between;
    }

    .renters{
        padding: 0;
        margin: 0;
        text-align: start;
    }
    .renters h3{
        font-size: 20px;


    }
    .renters span{
        font-size: 14px;
    }
    .renters:last-child span{
        display: none;
    }
    .spanMobile{
        display: block;
        font-size: 14px;
        font-weight: 600;
        color: var(--black);
        margin-top: 2px;
    }
    /* section 2 */
    .section2{
        padding: 48px 24px;
        display: block;
        
    }
    .newHome{
        width: 100%;
        height:100%;
        padding: 32px 67px 270px 40px;
    } 
    .nHInfo{
        width: 100%;
        display: block;
    }
    .nHInfo:first-child{
        margin-bottom: 24px;
    }
    .nHProperties{
        margin-bottom: 24px;
        display: flex;

    }
    .nHProperties img{
        margin-right: 27px;
        width: 49px;
        height: 49px;
    }
    .nHProperties h3{
        margin: 0;
        margin-bottom: 16px;
        
    }
    .nHProperties p{

        width: 247px;
    }
    .nHInfoContainer{
        padding-top: 48px;

    }
    /* Section 3 */
    .section3{
        padding: 48px 24px ;
    }
    .spam h2{
        font-size: 32px;
    
    }
    .spamInputContainer{
        margin-bottom: 16px;
    }
    .spamInputContainer input{
        font-weight: 500;
        font-size: 18px;
        width: 100%;
    }
    .spamInputContainer button{
        display: none;

    }
    .spamButtonMobile{
        display: block;
        margin-bottom: 24px;
        
    }
    .spamButtonMobile button{
        width: 100%;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        background-color: var(--roxo);
        color: #fff;
        padding: 12px 40px;
        border: none;
        border-radius: 8px;

    }
    
    
  }